:root {
    --piperDarkBlue: #0b3c62;
    --piperMidBrown: #a58d6f;
  }

body {
    font-family: 'Poppins', sans-serif;
}

header {
    height: 9vh;
}

#container {
    height: 90vh;
}

#navBar {
    background-color:var(--piperDarkBlue);
    height: inherit;
    color: var(--piperMidBrown);
}

.navLink {
    color: var(--piperMidBrown);
}

#logo {
    display: inline-block;
    letter-spacing: 0.1em;
    font-weight: 500;
    margin-left: 40px;
    font-size: 1.8em;
    color: var(--piperMidBrown)
}

#links {
    display: inline-block;
    float: right;
    margin-top: 30px;
}

.navLink, .indexLink {
    margin: 30px 20px;
    text-decoration: underline;

}

.indexLink {
    font-weight: 600;
    font-size: 0.8rem;
    margin: 20px 0 5px 10px;
    overflow-wrap: break-word;
    padding: 3px;
    cursor: pointer;
}

#pageIndex {
    width: 18vw;
    max-width: 300px;
    min-width: 150px;
    background-color: lightgray;
    float: left;
    height: 100%;
    overflow-y: scroll;
    padding-top: 30px;
    padding-left: 15px;
    overflow-wrap: break-word;
}

.directoryHeader {
    padding: 0px 10px;
}

.fileName {
    width: 300px;
    text-align: center;
}

.fileBody {
    width: 1000px;
    height: 400px;
}


#welcomeTitle {
    text-align: center;
    width: 75vw;
    margin-top: 40px;
}


#displayDiv {
    background-color: whitesmoke;
    border: 1px solid green;
    width: 50vw;
    margin: 0 auto;
    height: 400px;
}



/* Collapse Styling */

.collapsible {
    max-height: 400px;
    height: 400px;
    overflow-y: scroll; 
    transition: .3s;
    background-color: #c5c5df;
}

.collapsed {
    height: 0px;
    overflow: hidden;
    transition: .3s;
}

.collapsible::-webkit-scrollbar {
    display: none;
  }

.fa-solid {
    font-size: 1.3em;
    margin: 0px 10px;
}

.rotated {
    transform: rotate(180deg);
    animation: spinup .2s forwards ease-in;
}

@keyframes spinup{
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(180deg)
    }
};

/* Main info page styling */

#infoPageBody {
    width: 75vw;
    margin: 0 auto 0 75px;
}

#infoPageBody > h1 {
    margin: 50px 0;
}

#editButton{
    margin: 10px 0px;
}

#textPage {
    display: inline-block;
    width: 78.5vw;
    float: right;
    max-width: calc(100vw - 195px);
    padding: 20px;
    box-sizing: border-box;
}

#guidePoints {
    padding: 0px 20px;
    line-height: 1.5;
    margin-top: 50px;
}

#textPage a {
    color: var(--piperDarkBlue);
    transition: .3s;
}

#textPage a:hover {
    background-color: beige;
    border-radius: 5px;
    transition: .3s

}

#textPage img {
    max-width: 400px;
    transition: 2s;
    box-sizing:border-box;
}

#textPage img:hover {
    border: 2px solid white;
    transition: 2s;
}


/* Input submit page styling */

#mainSubmit {
    text-align: center;
    margin-top: 2vh;
}

#mainSubmit > h5 {
    margin: 10px;
}

#nameInput {
    width: 20vw;
    min-width: 400px;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto 0 auto;
}

.createFormInput {
    text-align: center;
}

#fileNameInput, #fileNameInputEdit {
    width: 40vw;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#formBody {
    margin: 0 auto;
    text-align: center;
}

.hiddenForm { 
    display: none;
}

#mainSubmit button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: auto;
    width: 250px;
    height: 40px;
    background-color: #bcb9ff;
    border: 1px solid var(--piperDarkBlue)
}

#textEditor {
    border: 2px solid black;
}

#buttonsDiv {
    text-align: left;
    width: 95vw;
    margin: 0 auto;
}

#editorDiv {
    background-color: antiquewhite;
    border: 1px solid blue;
    width: 95vw;
    margin: 0 auto;
    height: 525px;
}




.DraftEditor-root {
    padding: 10px;
}

#editorToolbar {
    text-align: center !important;
}

#editorToolbar > button {
    min-width: 35px;
    height: 35px;
    border-width: 0px 1px;
    box-sizing: content-box;
    transition: .3s;
}

#editorToolbar > button:hover {
    background-color: #bcb9ff;
    color: var(--piperMidBrown);
    transition: .3s;
}

.ProseMirror {
    height: 55vh !important;
    overflow-y: scroll;
}


#fileNameInputEdit:focus + #tooltip{
    transition: 0.3s;
    opacity: 1;
    display: block;
    padding: 14px;
    width: 150px;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    margin: 0 auto;
    top: 14vh;
    right: calc(30vw - 195px);
    bottom: 0;
    z-index: 10;
    border-radius: 10px;
    border: 2px solid var(--piperMidBrown);
    background-color: #c6c5ddde;
}

#tooltip {
    display: none;
    opacity: 0;
    transition: 0.3s;
}

#categorySelect {
    width: 20vw;
    margin: 10px;
}


/* New rich text editor CSS */

.rdw-editor-toolbar > div {
    display: inline-block;
    width: 80px;
    margin: 10px;
}


/* Results pages */

#searchBox {
    margin: 5px;
    width: 90%;
}

.resultPage {
    width: 50vw;
    margin: 20vh auto 0 auto;
    text-align: center;
}


/* Suggestion Page */

.suggestPage {
    width: 100vw;
    text-align: center;
    padding: 5vh 0;
    height: 100vh;
}

.suggestPage input {
    width: 20vw;
    min-width: 400px;
    font-size: 1.2em;
    border-radius: 5px;
    margin: 30px auto 0 auto;
    text-align: center;
}

.suggestPage textarea {
    width: 33vw;
    height: 20vh;
    min-width: 450px;
    font-size: 1.2em;
    border-radius: 5px;
    margin: 30px auto 30px auto;
}

.suggestPage button {
    width: 150px;
    height: 40px;
    background-color: #bcb9ff;
    border: 1px solid var(--piperDarkBlue)
}

#alertWindow {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #051e32ab;
    z-index: -50;
    display: none;
    transition: 0.3s;
}

.fadeIn {
    z-index: 100 !important;
    transition: 0.3s;
    display: block !important;
}

#alertBox {
    width: 40vw;
    background-color: white;
    border: 2px solid var(--piperMidBrown);
    text-align: center;
    margin: 0 auto;
    height: 40vh;
    border-radius: 12px;
    top: 20vh;
    position: fixed;
    left: 30vw;
    box-shadow: 11px 11px 45px 0px;
}

