header {
    height: 8vh;
}

#container {
    height: 89vh;
}

#navBar {
    background-color:aquamarine
}

#logo {
    display: inline-block;
}

#links {
    display: inline-block;
    float: right;
    margin-top: 20px;
}

.navLink, .indexLink {
    margin: 30px 20px;
    text-decoration: underline;
    color: blue;
}


#pageIndex {
    background-color: lightgray;
    width: 20vw;
    float: left;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#formBody {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

#hiddenForm { 
    display: none;
}

.fileName {
    width: 300px;
    text-align: center;
}

.fileBody {
    width: 1000px;
    height: 400px;
}

#textEditor {
    border: 2px solid black;
}

#editorDiv {
    background-color: antiquewhite;
    border: 1px solid blue;
    width: 50vw;
    margin: 0 auto;
    height: 400px;
}

#displayDiv {
    background-color: whitesmoke;
    border: 1px solid green;
    width: 50vw;
    margin: 0 auto;
    height: 400px;
<<<<<<< Updated upstream
}
=======
}


/* Main info page styling */

#infoPageBody {
    width: 75vw;
    margin: 0 auto 0 75px;
}

#infoPageBody > h1 {
    margin: 50px 0;
}

#editButton{
    position: relative;
    right: 5vw;
    float: right;
    top: -85px;
}

#textPage {
    display: inline-block;
    width: 78.5vw;
    float: left;
}


/* Input submit page styling */

#nameInput {
    width: 20vw;
    min-width: 400px;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px;
    margin: 20px auto 0 auto;
}

#formBody {
    margin: 0 auto;
    text-align: center;
}

#hiddenForm { 
    display: none;
}

#textEditor {
    border: 2px solid black;
}

#buttonsDiv {
    text-align: left;
    width: 95vw;
    margin: 0 auto;
}

#editorDiv {
    background-color: antiquewhite;
    border: 1px solid blue;
    width: 95vw;
    margin: 0 auto;
    height: 550px;
}

.fa-solid {
    font-size: 1.3em;
    margin: 3px;
}

.DraftEditor-root {
    padding: 10px;
}


/* Lexical CSS */

.ltr {
    text-align: left;
  }
  
  .rtl {
    text-align: right;
  }
  
  .editor-placeholder {
    color: #999;
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 15px;
    user-select: none;
    pointer-events: none;
  }
  
  .editor-paragraph {
    margin: 0 0 15px 0;
    position: relative;
  }
>>>>>>> Stashed changes
