.ProseMirror {
  margin-top: 20px;
  height:60vh;
  border: 2px solid darkblue;
  border-radius: 3px;
  text-align: left;
  padding: 5px;
  line-height: 0.8rem;
  width: 80vw;
  margin: 0 auto;


    > * + * {
      margin-top: 0.75em;
    }
  
    ul,
    ol {
      padding: 0 1rem;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.1;
      background-color: red;
    }
  
    code {
      background-color: rgba(#616161, 0.1);
      color: #616161;
    }
  
    pre {
      background: #0D0D0D;
      color: #FFF;
      font-family: 'JetBrainsMono', monospace;
      padding: 0.75rem 1rem;
      border-radius: 0.5rem;
  
      code {
        color: inherit;
        padding: 0;
        background: none;
        font-size: 0.8rem;
      }
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    blockquote {
      padding-left: 1rem;
      border-left: 2px solid rgba(#0D0D0D, 0.1);
    }
  
    hr {
      border: none;
      border-top: 2px solid rgba(#0D0D0D, 0.1);
      margin: 2rem 0;
    }
  }

#editorToolbar {
  margin: 10px auto;
  text-align: left;
  width: 80vw;
  background-color: #0b3c62;
  padding: 5px;
}

#editorToolbar button {
  border: 1px solid #a58d6f;
  margin: 2px;
}

#editorToolbar .fa-solid {
  font-size: 1em;
}